.env
indexer.log
batch/
vector/ 
venv/
.venv/
vector_config.json
vector_generator.log
logs/
__pycache__/
chunk/
batch/
plain/
vector/
plane_single/
chunk_single/
vector_single/
case_studies/
case_study_output.txt
vector_db/

