.env
image/
images/*
*face_database.FaceDatabase*
chroma_db/
indexer.log
batch/
test_images/
vector/ 
venv/
.csv
.venv/
vector_config.json
vector_generator.log
logs/
__pycache__/
chunk/
batch/
plain/
vector/
plane_single/
chunk_single/
vector_single/
case_studies/
case_study_output.txt
vector_db/
*.jpg
*.log
collected_news/
*.json
altibase_rag/
chroma_db/
.csv
